<!DOCTYPE html>
<html>
<head>
	<title>Feature 2</title>

</head>

<body>
	<h1>{{title}}</h1>

	<div id='weathersearch' >
       <h2> Where do you want weather from? </h2>
       <form action="/weatherform" method="post">
           Search: <input type="text" name="result"><br>
       <button type="submit" value="Submit">Submit</form>
    </div>

<h3> Hardcoded weather results </h3>
<h4> for 1 point? ;-; </h4>
	<p>Location:  {{location}}</p>
    <p>Weather forecast: {{summary}}</p>

</body>
</html>
