<!DOCTYPE>
<html>
<head>
	<title>Feature 1</title>

</head>

<body>
		<h1>{{title}}</h1>

		<div id='registerform' >
        <h1> FORM </h1>
        <form action="/featureoneform" method="post">
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"> <br>
        <button type="submit" value="Submit">Submit</form>
    </div>

</body>
</html>