<!DOCTYPE html>
<html>
<head>
	<title>Feature 1</title>

</head>

<body>
	<h1>{{title}}</h1>

	<div id='registerform' >
       <h2> FORM </h2>
       <form action="/imageform" method="post">
           Search: <input type="text" name="img"><br>
       <button type="submit" value="Submit">Submit</form>
    </div>

<p>Image </p>
<img hregf='{{imgresult}}' />

</body>
</html>
