<!DOCTYPE html>
<html>
<head>
	<title> 2520  FINAaaaaaaaL </title>

</head>

<body>

<h1>{{title}} </h1>

<p><a href='feature1'> images </a></p>

<p><a href='feature2'> weather </a></p>



</body>

</html>